<div class="root">
    <div class="board">
        <div class="board-wrapper">

            <div class="board-columns">
                <div class="board-column">
                    <div class="column-title">
                        Avalible Enviroments
                    </div>
                    <div class="task-container" >
                        <div class="task" **ngFor="let environment of environment">
                            {{environment.environment}}
                            {{environment.name}}
                            
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>



